<h3>Listing users</h3>

<table class="table table-striped table-condensed">
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>gender</th>
    <th>city</th>
    <th>Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.profile.first_name %> <%= user.profile.last_name %></td>
    <td><%= user.profile.gender %></td>
    <td><%= user.profile.city_id %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
