<h3>.all venue_products</h3>
<table class="table table-striped table-condensed">
  <tr>
    <th>ID</th>
    <th>VenueID</th>
    <th>Venue Name</th>
    <th>Product</th>
    <th>Price</th>
    <th>Checkin Count</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venue_products.each do |venue_product| %>
  <tr>
    <td><%= venue_product.id %></td>
    <td><%= venue_product.venue_id %></td>
    <td></td>
    <td><%= venue_product.product_id %></td>
    <td><%= venue_product.price %></td>
    <td><%= venue_product.checkin_count %></td>
    <td><%= link_to 'Show', venue_product %></td>
    <td><%= link_to 'Edit', edit_venue_product_path(venue_product) %></td>
    <td><%= link_to 'Destroy', venue_product, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Other Venues', vplist_venue_product_path(venue_product) %></td>	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue product', new_venue_product_path %>
