<h3>Listing venue products by product id</h3>

<table class="table table-striped table-condensed">
  <tr>
  	<th>Product Name</th>
    <th>Venue Name</th>    
    <th>Verified Price</th>
    <th>Last Checkin Price</th>
    <th>Most Checkin Price</th>
    <th>Item Count</th>
    <th>Checkin Count</th>
  </tr>

<% @venue_products.each do |venue_product| %>
  <tr>
    <td><%= venue_product.product.name%></td>
    <td><%= venue_product.venue_id %></td>	
    <td><%= venue_product.price %></td>
    <td><%= venue_product.last_checkin_price %></td>
    <td><%= venue_product.most_checkined_item.price if !venue_product.most_checkined_item.nil? %></td>
    <td><%= venue_product.items.size%></td>
    <td><%= venue_product.checkin_count%></td>    
  </tr>
<% end %>
</table>
