<h3>.all venue products</h3> 
<table class="table table-striped table-condensed">
  <tr>
  	<th>Product Name</th>
    <th>4sqVenue ID</th>
    <th>Venue Name</th>       
    <th>Verified Item</th>
    <th>Last Checkined Item</th>
    <th>Most Checkined Item</th>
    <th>Item Count</th>
    <th>Checkin Count</th>
  </tr>

<% @venue_products.each do |venue_product| %>
  <tr>
    <td><%= venue_product.product.name %></td>
    <td><%= venue_product.fs_venue_id %></td>	
    <%- if !@vName.nil? -%>
	    <td><%= @vName %></td>	
	<%- else -%>
    	<td><%= get_venue_name(venue_product.fs_venue_id) %></td>	
    <%- end -%>
    <td><%= venue_product.verified_item.price if !venue_product.verified_item.nil?%></td>
    <td><%= venue_product.last_checkined_item.price if !venue_product.last_checkined_item.nil?  %></td>
    <td><%= venue_product.most_checkined_item.price if !venue_product.most_checkined_item.nil? %></td>
    <td><%= venue_product.items.size %></td>
    <td><%= venue_product.checkin_count %></td>    
  </tr>
<% end %>
</table>
