<h3>Listing venues</h3>

<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>4sq Venue ID</th>
    <th>Product Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.fs_venue_id %></td>
    <td><%= venue.product_count %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
