<p id="notice"><%= notice %></p>


<p>
  <b>Fs Venue:</b>
  <%= @venue.fs_venue_id %>
</p>
<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>
<p>
  <b>Name:</b>
  <%= @venue.product_count %>
</p>




<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
