<p id="notice"><%= notice %></p>

<p>
  <b>Venue product:</b>
  <%= @item.venue_product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
