<%= form_for(@checkin) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">  
    <%= f.label :item_id %><br />
    <%= f.number_field :item_id %>
  </div>
  <%= f.fields_for :comments do |builder| %>
	<div class="field">
	<%= builder.label :comments %><br />
	<%= builder.text_area :comments %>
	</div>
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
