<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @checkin.user_id %>
  <b>Item:</b>
  <%= @checkin.item_id %>
  <% @checkin.comments.each do |comment| %>
	<div class="field">
		<b><%= comment.user.profile.first_name if !comment.user.nil? && !comment.user.profile.nil? %></b> - <%= comment.created_at %><br />
		<%= comment.comments %><br />
	</div>
  <% end -%>
</p>


<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
