<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @checkin.user_id %>
  <b>Item:</b>
  <%= @checkin.item_id %>
</p>


<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
